*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header
 {
  width: 100%;
  height: 88px;
  background-color: #ffffff;
 }
      
      .menus ul
      {
        list-style: none;
        margin-left:720px;
        padding-top: 48px;

      }
      .menus ul li
      {
        list-style: none;
        display: inline-block;
        margin-left: 28px;
        
      }
       .menus ul li a
      {
        list-style: none;
        display: inline-block;
        color: #265eac;
        font-size: 1rem;
        font-weight: bold;
        cursor: pointer;


        
      }
      .inner-menu
      {
       display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        z-index: 9999;
        height: 60px;
      }
      .inner-menu ul
      {
        list-style: none;
       

      }
      .inner-menu ul li
      {
        list-style: none;
        display: inline-block;
        margin-left: 100px;
        
      }
       .inner-menu ul li a
      {
        list-style: none;
        display: inline-block;
        color: #4d4c49;
        font-size: 0.8rem;
        font-weight: bold;
        cursor: pointer;


        
      }
       .inner-menu  .fa
      {
        color: #4d4c49;
        font-size: 2rem;
      padding-top: 10px;
        text-align: center;
        
      }

     
#panel, #flip {
  z-index: 999999;
}

#panel {
  padding: 15px;
  display: none;
  background-color:#ffffff;
  border-bottom: 1px solid #265eac;
   border-top: 1px solid #265eac;
   z-index: 999999;
}


/**************************banner*************************/
      .center-image
      {
        background-size: cover;
        height: 592px;
        background-image: url(images/center.jpg);
        background-repeat: no-repeat;
       

      }
      .clip
      {
        background-color: #ffffff;
        height: 592px;
        width: 100%;
        clip-path: circle(57.1% at 25% 52%);

        background-color: #265eac;
        opacity: 0.8;


        
      }
       .clip h1
      {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 2.5rem;
        color: #ffffff;
        z-index: 9999;
         margin-left: 80px;
         padding-top: 80px;
      }
       .clip p
      {
         font-size: 1.2rem;
        color: #ffffff;
        line-height: 1.4rem;
         margin-left: 80px;
         padding-top: 20px;
      }
       .clip button
      {
          padding: 10px 34px ;
        font-weight: bold;
        border: none;
        background-color: red;
        font-size: 1rem;
        color: #ffffff;
        border-radius: 10px;
         margin-left: 80px;
         margin-top: 30px;
      }

      /**************************Finish-line*************************/

      .finish-line
      {
        background-size:100% 100%;
        height: 450px;
        background-image: url(images/finish.jpg);
        background-repeat: no-repeat;
        margin-top:12px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
        .finish-line h1
      {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 2.5rem;
        color: #ffffff;

        
      }
        .finish-line p
      {
        
        font-size: 1.2rem;
        color: #ffffff;
        line-height: 1.4rem;
        
      }
      .finish-line button
      {
        padding: 10px 34px ;
        font-weight: bold;
        border: none;
        background-color: red;
        font-size: 1rem;
        color: #ffffff;
        border-radius: 10px;

      }

      /**************************Images-line*************************/

      .img-right
      {
        background-size: 100% 100%;
        height: 540px;
        background-image: url(images/cars.jpg);
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        
      }
      .img-left
      {
        background-size: cover;
        width: 653px;
        height: 540px;
        background-image: url(images/ppls.jpg);
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        
      }
      .layer
       {
        background-color: #265eac;
         opacity: 0.8;
         position: absolute;
         top: 0;
         left: 0;
       width: 100%;
        height: 540px;
}
.layertwo {
    background-color: #265eac;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 540px;
}
      .img-left h1
      {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 2.5rem;
        color: #ffffff;
        margin-left: 80px;

      }
       .img-left p
      {
         font-size: 1.2rem;
        color: #ffffff;
        line-height: 1.4rem;
        margin-left: 80px;
      }
       .img-left button
      {
          padding: 10px 34px ;
        font-weight: bold;
        border: none;
        background-color: red;
        font-size: 1rem;
        color: #ffffff;
        border-radius: 10px;
        margin-left: 80px;
      }
        .img-left h4
      {
         font-size: 1.2rem;
        color: #ffffff;
        line-height: 1.4rem;
        margin-left: 80px;
         margin-top: 70px;
      }
       .img-right h1
      {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 2.5rem;
        color: #ffffff;
        margin-left: 80px;
      }
       .img-right p
      {
         font-size: 1.2rem;
        color: #ffffff;
        line-height: 1.4rem;
        margin-left: 80px;
      }
       .img-right button
      {
          padding: 10px 34px ;
        font-weight: bold;
        border: none;
        background-color: red;
        font-size: 1rem;
        color: #ffffff;
        border-radius: 10px;
        margin-left: 80px;
      }
        .img-right h4
      {
         font-size: 1.2rem;
        color: #ffffff;
        line-height: 1.4rem;
        margin-left: 80px;
         margin-top: 70px;
      }

      /**************************Opacity-class*************************/

      .opacity-class
      {
        background-color: red;
        opacity: 0.4;
        z-index: 99999;
      }

      /**************************Missed-line*************************/

      .missed-it
      {
        height: 674px;
        background-color: #265eac;
        display: flex;
        justify-content: center;align-items: center;
      }
     
       .missed-text 
      {
        text-align: center;
        color: #ffffff;
      }
       .missed-text h1
      {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 2.5rem;
        color: #ffffff;
        padding-bottom: 6px;
      }
        .missed-text p
      {
        
        font-size: 1.2rem;
        color: #ffffff;
        line-height: 1.4rem;
        padding-bottom: 12px;
      }
      .missed-img 
      {
        width: 360px;
        /*height: 500px;*/
        
      }
      .missed-img h3
      {
        color: #ffffff;
        font-size: 1.2rem;
        padding-top: 18px;
        text-decoration: uppercase;
        font-weight: bold;
        text-align: center;
      }

      .missed-img p
      {
        color: #ffffff;
        font-size: 0.9rem;
        padding-top: 8px;
        text-align: center;
        
      }
       .missed-img .fa
      {
        color: #ffffff;
        font-size: 2rem;
        padding-top: 10px;
        text-align: center;
        
      }
      
      .img-thumbnail
       {
        padding: 0px !important; 
        border: none !important;
      /* height: 290px !important;*/
       border-radius: 0px !important;
        }

        /**************************Explore-line*************************/

      .explore
      {
        height: 435px;
        width: 100%;

      }
       .explore h1
       {
          font-size: 2.5rem;
       }
       .img-explore img
       {
        height: 170px;
       }
       .img-explore h6
       {
        padding-top: 12px;
        text-align: center;
        font-size: 1.4rem;
        color: #265eac;
       }

       /**************************Footer*************************/

       footer
       {
        width: 100%;
        height: 780px;
        background-color: #4d4c49;

       }
       .footer-list
       {
        padding-top: 60px;
        
       }
       .footer-list h4
       {
        color: #ffffff;
        margin-bottom: 12px;
        text-transform: uppercase;
       }
       .footer-list ul
       {
          list-style: none;
       }
        .footer-list li
       {
          list-style: none;
          margin-bottom: 12px;
          
       }
        .footer-list a
       {
          color: #ffffff;
          font-size: 0.9rem;
          border-bottom: 1px solid white;
          text-decoration: none;

          
       }
       .icon-class .fa
       {
        margin-top: 60px;
        padding: 15px;
        background-color: #ffffff;
        border-radius: 50%;
        font-size:2.5rem;
        color: #235fa8;
       }

       .events
       {
        height: 760px;
        width: 100%;
        background-color: #ffffff;
       }


        .events-text h1
      {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 2.5rem;
        color: #4d4c49;
        padding-bottom: 6px;
        text-align: center;
        margin-top: 50px;
      }
        .events-text p
      {
        
        font-size: 1.2rem;
        color:#4d4c49;
        line-height: 1.4rem;
        padding-bottom: 12px;
        text-align: center;
        margin-bottom: 50px;
      }
      .cal-text
      {
         font-size: 1.2rem;
        color:#4d4c49;
        line-height: 1.4rem;
        padding-bottom: 12px;
        text-align: center;

      }
      .dates h6
      {
        font-size: 0.9rem;
        color:#235fa8;
        line-height: 1.4rem;
      
      }
      .day
      {
        font-weight: bold;
        font-size: 2.8rem;
        color: #235fa8;

      }
      .Add h6
      {
        text-align: center;
        color: #ffffff;
        font-size: 1.6rem;
        padding-top: 18px;
        text-decoration: uppercase;
        font-weight: bold;
      }
      .Add p
      {
        text-align: center;
        color: #ffffff;
        font-size: 1.2rem;
        padding-top: 18px;
        
        
      }
      .Add input[type="text"]
      {
        height: 50px;
        width: 600px;
        border-radius: 16px;
        border: none;
        font-size: 1.2rem;
        margin-top: 12px;
        padding: 10px;
      }
      .event-part h3
      {
        font-size: 1rem;
        color:#235fa8;
        font-weight: bold;
        /*line-height: 1.4rem;
        padding-bottom: 12px;*/
        text-align: center;
      }
      .event-part p
      {
        font-size: 0.9rem;
        color:#4d4c49;
        
        text-align: center;
      }
      .event-part img
      {
        text-align: center;

      }
      .eve
      {
        border-right: 1px solid grey;
      }

      /********************************swoper***********************/
      .swiper-container {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
